<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="./css/styles.css">
    
</head>
<body>
    {{>header}}
    <div class="message">
        {{message}}
    </div>

    <form>
        <input type="text" name="address" id="address" placeholder="Enter address">
        <button>Search</button>
    </form>

    <div class="message1"></div>

    <div class="message2"></div>

    <hr>
    {{>footer}}

    <script src="/js/script.js"></script>
</body>
</html>